.sites-div {
    width: calc(100vw - 4em);
    min-height: calc(100vh - 8em);
    height: auto;
    padding: 1em;
    margin: auto;
    margin-top: -5em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: flex-start;
    position: relative;
    flex-wrap: wrap;
    gap: 1em 0em;
    overflow-y: auto;
}

.site-card {
    width: 400px;
    height: 100px;
    padding: 1em;
    margin: 0;
    background-color: white;
    position: relative;
}

.site-div-title {
    width: 100%;
    height: 32px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.site-title {
    font-size: 1.2em;
    font-weight: 600;
    color: var(--fontColor_sec);
    cursor: pointer;
}


.url-input {
    font-size: 1.2rem;
    width: 100%;
    height: auto;
}

.site-align-btns {
    position: absolute;
    bottom: 0;
    left: 0;
    display: inline-flex;
    justify-content: space-between;
    width: 92%;
    height: auto;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 4px;
}

.site-save {
    cursor: pointer;
    font-size: 1.2em;
}

.site-colorSelect {
    border: none;
    height: 2em;
    width: 4em;
}

.delete-btn {
    cursor: pointer;
}

.site-go-btn {
    width: auto;
    height: auto;
    padding: 4px;
    padding-left: 12px;
    padding-right: 12px;
    background-color: transparent;
    border: 2px solid var(--fontColor_sec);
    border-radius: 4px;
}

@media screen and (max-width: 500px) {
    .site-card {
        padding: 0;
    }

    .site-title {
        font-size: 1em;
    }
    
    .url-input {
        font-size: 0.9em;
    }
}